---
import "../styles/global.css";
import SiteHeader from "../components/SiteHeader.astro";
import TopPageApp from "../components/TopPageApp";
import { loadMetricsData } from "../lib/metrics-data";

const { index, corpusDataById } = await loadMetricsData();
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Japanese Layout Analyzer</title>
  </head>
  <body class="min-h-screen bg-white">
    <div class="relative overflow-hidden">
      <SiteHeader />
      <main
        class="relative mx-auto flex w-full max-w-6xl flex-col gap-10 px-6 py-12"
      >
        <TopPageApp client:load index={index} corpusDataById={corpusDataById} />
      </main>
    </div>
  </body>
</html>
